{{template "header" .}}
<div class="px-6">
  <h1 class="py-4 text-4xl semibold tracking-tight">Welcome to my project app!</h1>
  <p>This is a photo sharing app that I created in order to showcase my Go skills. It uses PostgreSQL for the database, Go for the backend, and gohtml templates for the front end.
  For more details please check the <a href="https://github.com/AlexTLDR/WebDev" class="text-blue-600">source code</a>.</p>
</div>
{{template "footer" .}}

